#root {
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-family: "Regular";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  margin-top: 20px;
  animation: App-logo-spin infinite 10s linear;
  height: 30vmin;
  pointer-events: none;
}
