#root {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

.heading2 {
    margin-top: 20px;
    width: 100%;
    padding: 0 8.33vmax;
    color: var(--black);
    font-family: 'Bold';
}

.heading2 div {
    font-size: 28px;
}

.heading2 div span:last-child {
    color: var(--primary);
}

.filterBtn {
    color: var(--white);
    background-color: var(--primary);
}

.filterTxt {
    letter-spacing: 1px;
    color: var(--white) !important;
}

/* banner.css */

.carousel {
    max-width: 92vw;
    margin-top: 20px;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* height: 90%; */
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.thin-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 28px;
    font-weight: 100;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}

.carousel-caption div {
    font-size: 48px;
    font-family: 'Bold';
}

/* media queries */

@media screen and (max-width: 1200px) {
    .carousel-caption div {
        font-size: 42px;
    }
}

@media screen and (max-width: 992px) {
    .thin-icon {
        height: 34px;
        width: 34px;
        font-size: 20px;
    }

    .carousel-caption div {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption div {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    #root {
        color: var(--white);
    }

    .headerBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        color: var(--white);
    }

    .carousel {
        max-width: 100vw;
        margin-top: 0px;
    }

    
    .carousel-inner {
        border-radius: 0;
    }
    
    .carousel-caption {
        position: absolute;
        top: 50%;
        transform: translateY(10%);
    }

    .carousel-item img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .carousel-caption div {
        font-size: 20px;
    }

    .thin-icon {
        height: 26px;
        width: 26px;
        font-size: 16px;
    }

    .arrows {
        visibility: hidden;
    }
}